/*Aqui van los estilos de la sección Categories*/
.CategoriesContainer {
  background-color: #ffffff;
  display: flex;
  padding: 0.5em;
}
.CategoriesContainer > div {
  display: flex;
  background-color: grey;

  color: #ffffff;
  width: 40vw;
  height: 35vh;
  margin: 0.5em;
  padding: 2em;
  justify-content: center;
  text-align: center;
  align-items: center !important;

  background-image: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lf {
  background-image: url("./Lifestyle.png") !important;
}
.Wellness {
  background-image: url("./wellnes.png") !important;
}
.Pets {
  background-image: url("./Pets.png") !important;
}

/*//////////////////////////////////*/
/*//////////////////////////////////*/
/*//////////////////////////////////*/
/*Aqui van las mediaquerys*/

/*Desktop*/
@media screen and (min-width: 1220px) {
}

/*ipad*/

@media screen and (max-width: 820px) {
  .CategoriesContainer {
    display: block;
  }
  .CategoriesContainer > div {
    width: auto;
    max-height: 18vh;
    background-size: cover;
    background-position: center 33%;
  }
}

/*Mobile*/
@media screen and (max-width: 420px) {
  .CategoriesContainer {
    display: flex;
    flex-direction: column;
  }
  .CategoriesContainer > div {
    width: auto;
    max-height: 16vh;
  }
}
